/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Cabin', serif;
  margin: 0;
}



/******* Mobile Screen ***************/
#top-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#top-header a {
  color:black;
  text-decoration:none;
}

header, main, footer{
  margin: 1rem;
}

.siteName{
  font-size: 1.75rem;
  font-weight: 700;
}

#tools{
  font-size: 0.75rem;
  text-transform: uppercase;
}

nav {
  background: #242333;
  color: white;
}

nav a {
  color:white;
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
  background-color: white;
  color: #242333;
}

#hero{
  position: relative;
}

#hero-img{
  width: 100%;
}

#hero-ad{
  color: #01B0D3;
  position: absolute;
  padding: 0.25rem;
  background: rgba(255, 255, 255, 0.5);
  font-size: 0.75rem;
  width: 33%;
}

button{
  background-color: #01B0D3;
  color: black;
  border-color: lightgrey;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  
  
}

nav>ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 1rem 0;
  
}

h1{
  font-size: 22px;
  margin-bottom: 10px;
}

section {
  margin-bottom: 1rem;
}

#hero-ad>h2{
  font-size: 1rem;
}

#hero-ad>ul{
  list-style: none;
  padding-left: 0;
}


#reviews>ul{
  padding-left: 20px;
  margin:0;
}

#reviews>ul>li{
  padding: 7.5px 0;
  font-size: 12px;
}

#upgrade-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  column-gap: .5rem;
}
.upgrade-detail{
  text-align: center;
  padding-bottom: 1rem;
}
.upgrade-square{
  width: 100%;
  display: flex;
  background-color: #01B0D3;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.upgrade-square > img {
  height: 3rem;
}


/******* Desktop Screen ***************/
@media only screen and (min-width: 768px){
  body{
    background-image: url("../images/site/checkerboard.jpg");
  }
  #wrapper{
    margin: 1.5rem 4rem;
    background-color: white;
    border:5px solid #01B0D3 ;
    border-radius: 0.75rem;
    padding: 1rem;
  
  }
  nav>ul{
    padding: 0.5rem 0;
  }

  #hero-ad{
    font-size: 1.25rem;
    height: 50%;
  }
  #hero-ad >h2{
    font-size: 1.75rem;
  }
  #hero-ad > button{
    width: 10rem;
    height: 2.5rem;
    margin: 2rem;
  }
  #review-and-upgrade{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #review-and-upgrade > section{
    width: 48%;
  }
}