<!-- Content Heading -->

<% if (title) { %>
    <h1><%= title %> Page Not Found</h1>
    <%  } else {
        res.redirect('/')
    } %>


<!-- Error Message -->


 <p>Oops! This doesn't look like any car you're looking for</p>

 <p>In the meantime, why not head back to the <a href="/" class="button">Homepage</a>?</p>
 <p>There may be other cars that you might be interested in</p>