<!-- Content Heading -->

<% if (title) { %>
    <h1><%= title %> Page Not Found</h1>
    <%  } else {
        res.redirect('/')
    } %>


<!-- Error Message -->

<%= message  %>


 <p>In the meantime, why not head back to the <a href="/" class="button">Homepage</a>?</p>
